<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
  <link rel="stylesheet" href="/_styles/github.css">
  <link rel="stylesheet" href="/_styles/styles.css">
  <script>
    function liveReload() {
      setTimeout(async () => {
        try {
          const res = await fetch(location.pathname + "?wait");
          if (res.ok) history.go(0)
        } catch { }
        liveReload();
      }, 1000);
    }
    liveReload();
  </script>
  </link>
  <title><%= page.title || "Docs" %></title>
</head>

<body>
  <div id="canvas">
    <header id="header">
            
    </header>
    <div id="main">
      <nav id="nav"><% 
      console.log(page.parents)
      for (const p of site.nav) { 
        %><a class="item" data-nav-level="<%= p.level %>" data-nav-active="<%= p.path === page.path %>"
          data-nav-active-within="<%= page.parents.includes(p.path) %>" href=" <%= p.path %>">
          <%= p.title %>
        </a><%
      } 

    %></nav>
      <article class="markdown-body">
        <a name="#"></a><%
      
      if (page.title) { 
        %><h1>
          <%= page.title %>
        </h1><%
      } 

      %><%- content %>
      </article>
      <aside><% 
      if (page.toc && page.toc.length) { 
        %><nav id="toc">
          <a class="item" data-toc-level="1" href="##">
            <%- page.title %>
          </a><% 
        for (const p of page.toc) { 
          %><a class="item" data-toc-level="<%= p.level %>""  href=" #<%= p.slug %>">
            <%- p.text %>
          </a><% 
        } 
        %></nav><%
      } 

    %></aside>
    </div>
    <div>
</body>

</html>